# List of routers for Zino to monitor.
#
# An empty line signifies the start of a new configuration block, i.e. a set of
# defaults, or a new, distinct router.  Router names can be arbitrary, but must
# be unique across all of Zino.  Comments begin with the # character.

# The following block sets default values that will apply to all router
# entries.  Any of these can be overridden in individual router entries:
#
# interval is a number of *minutes* between polling jobs for a router.
default interval: 5
default community: public
default domain: example.org

# Example router, with a higher scheduling priority.  Interfaces whose name
# matches the regular expression `pe-` will be not be monitored:
name: example-gw
address: 192.168.42.1
priority: 500
ignorepat: pe-

# Only interfaces that match the regular expression `ge-1\/` on example-gw2
# will be monitored:
name: example-gw2
address: 192.168.42.2
watchpat: ge-1\/

# example-gw3 will be polled every 2 minutes, rather than the default 5
name: example-gw3
address: 192.168.42.3
interval: 2

# example-gw4 uses a different SNMP community than the default setting:
name: example-gw4
address: 192.168.42.4
community: foobar
