[archiving]
# Path to directory where dumps of expired events are saved
# default "old-events"
old_events_dir = "old-events"

[authentication]
# Path to the file containing user accounts and secrets for the Zino API
# default "secrets"
file = "secrets"

[persistence]
# Path to where the persistent Zino state should be saved
# default "zino-state.json"
file = "zino-state.json"

# How often the persistent Zino state should be saved, in minutes
# default 5 min
period = 5

[polling]
# Path to a pollfile, the list of routers to monitor and related configuration
# default "polldevs.cf"
file = "polldevs.cf"

# How often the pollfile is checked for changes, in minutes
# default 1 min
period = 1

# If on the first start of Zino interface-down alarms should be created
# default False
suppress_initial_down_alarms = False

# Logging configuration is optional, but if specified, it will override the
# default logging config of Zino.  This is a TOML representation of the default
# logging configuration dictionary, whose full documentation is available at
# https://docs.python.org/3/library/logging.config.html#logging-config-dictschema
#
#[logging]
#version = 1
#
#[logging.loggers.root]
#level = "INFO"
#handlers = ["console"]
#
#[logging.loggers.apscheduler]
#level = "WARNING"
#
#[logging.formatters.standard]
#format = "%(asctime)s - %(levelname)s - %(name)s (%(threadName)s) - %(message)s"
#
#[logging.handlers.console]
#class = "logging.StreamHandler"
#formatter = "standard"
#stream = "ext://sys.stderr"
