[Unit]
Description=Zino
After=network.target

[Service]
User=zino
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
WorkingDirectory=/home/zino
ExecStart=/home/zino/.zino/bin/zino
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=zino

[Install]
WantedBy=multi-user.target
