name: Verify formatting

on:
  push:
    branches: master
    paths-ignore:
      - 'docs/**'
      - 'changelog.d/*'
      - 'README.md'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'changelog.d/*'
      - 'README.md'

jobs:
  ruff:
    runs-on: ubuntu-latest
    name: Verify Python formatting
    steps:
    - uses: actions/checkout@v6

    - uses: astral-sh/ruff-action@v3
      with:
        version: "0.14.13"
        args: "format --check"
